.row
   .col-md-4
   .col-md-4()
      header New task
      .inputs
         input.form-control(type='text', placeholder='Title')
         textarea.form-control(type='password', placeholder='Content')

         button.btn.btn-default.btn-raised Create

