.row
    .col-md-4
    .col-md-4
        header Register
        .inputs
            input.form-control(type='text', placeholder='Username')
            input.form-control(type='password', placeholder='Password')

            button.btn.btn-default.btn-raised Register
            p
            a(href='#/login') Or login